* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

:root {
    --body-bg: linear-gradient(128deg, #13547a -23%, #80d0c7 100%);
    --btn-submit-clr: linear-gradient(128deg, #13547a -23%, #80d0c7 100%);
    --input-bg: linear-gradient(128deg, rgba(19, 84, 122, 1) -23%, rgba(128, 208, 199, 1) 100%);
}

body {
    font-family: 'Nova Square', sans-serif;
}

.container {
    background: var(--body-bg);
    min-height: 100vh;
    padding: 1px;
}

.pop-up {
    width: 100px;
    margin: 73px auto;
    position: relative;
    z-index: 1;
    top: 20px;
}

.btn-popup {
    background: var(--btn-submit-clr);
    color: white;
    width: 100px;
    padding: 7px 3px;
    border: none;
    outline: none;
    box-shadow: 0px 1px 5px 0px rgba(19, 84, 122, 1);

}

.form-container {
    /* border: 2px solid red; */
    
    width: 55%;
    margin: -70px auto 120px;
    box-shadow: 1px 1px 17px 3px rgba(19, 84, 122, 1);
    visibility: hidden;
    position: absolute;
    z-index: 2;
    left: 345px;
    top: 0px;
    transform: scale(0);
    transition: transform 2s ease-in-out;
    
}

.show-form {
    visibility: visible;
    position: relative;
    left: 0px;
    top:-20px;
    transform: scale(0.8);
  
}

form {
    font-size: 25px;
    color: white;
    padding: 14px;
}


form div {}


form input {
    width: 100%;
    font-size: 18px;
    padding: 7px 3px;
    margin-bottom: 34px;
    margin-top: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 1px 3px 6px 1px rgba(19, 84, 122, 1);
}


.btn-submit {
    background: var(--btn-submit-clr);
    color: white;
    width: 100px;
    padding: 7px 3px;
    border: none;
    outline: none;
    box-shadow: 0px 1px 5px 0px rgba(19, 84, 122, 1);
}


.cancle-btn{
    background: var(--btn-submit-clr);
    color: white;
    width: 100px;
    padding: 7px 3px;
    border: none;
    outline: none;
    box-shadow: 0px 1px 5px 0px rgba(19, 84, 122, 1);
}





/* table styling  */

.table-section {
    width: 80%;
    /* border: 2px solid red; */
    margin: 60px auto 60px;
    box-shadow: 1px 1px 17px 3px rgba(19, 84, 122, 1);
    padding: 33px;
}

table {
    color: white;
    border: 1px solid rgba(19, 84, 122, 1);
    border-collapse: collapse;
    width: 100%;
    /* box-shadow: -3px -3px 10px 1px rgba(19, 84, 122, 1); */
}

thead {
    box-shadow: 0px 0px 18px -1px rgba(19, 84, 122, 1)inset;
}

tr,
td,
th {
    text-align: center;
    padding: 10px 5px;
    
}

th {
    padding: 10px 5px;
    font-weight: bold;
    font-size: 18px;
}

tr {}

td {
    width: 20%;
    text-wrap: wrap;
}

td:nth-child(4),td:nth-child(5){
    width: 10%;
    padding: 0px 3px;
}


.edit-button{
    width: 100%;
    margin: 0px;
    padding: 6px;
    border: none;
    font-size: 18px;
    color: white;
    background: var(--btn-submit-clr);
    box-shadow: 0px 0px 0px 1px rgba(19, 84, 122, 0.6)inset;
}


.delete-button{
    width: 100%;
    margin: 0px;
    padding: 6px;
    border: none;
    font-size: 18px;
    color: white;
    background: var(--btn-submit-clr);
    box-shadow: 0px 0px 0px 1px rgba(19, 84, 122, 0.6)inset;
}